@use "../sass-utils/variables" as var;

/*grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-areas:
      "orderId orderItems orderOrigin"
      "itemsArray itemsArray itemsArray"
      "totalPrice totalPrice totalPrice";*/

@mixin tablet {
  @media only screen and (min-width: #{var.$tablet-width}) and (max-width: #{(var.$laptop-width)-1px}) {
    @include var.fs_tablet;

    .orders__wrapper {
      & .orderContainer {
        &__information {
          grid-template-columns: repeat(auto, minmax(15rem, 1fr));
          grid-template-areas:
            "orderId orderId orderId orderOrigin"
            ".. orderItems .. .."
            "itemsArray itemsArray itemsArray itemsArray"
            "totalPrice totalPrice totalPrice totalPrice";
            gap:1rem;
        }
        & .orderedline__wrapper {
          &__information {
            grid-template-columns: repeat(auto, minmax(1rem, 2rem));
            &__image {
              grid-area: productImage;
              width: 10rem;
              aspect-ratio: 1;
            }
          }
        }
      }
    }

    .cart__wrapper {
      
      &--grid {
        gap: 2rem;
        & .grid__item {
          gap: 2rem;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-areas: "picture picture details details actions";
          &__details {
            &--img {
              width: 20rem;
            }
          }
          &__actions {
            & .quantityInput {
              width: 3rem;
            }
            & .delBtn {
              height: 3rem;
              width: 3rem;
            }
          }
        }
      }
      & .totalOrder {
        & .actions {
          grid-template-columns: 1fr 1fr 1fr;
          gap: 0.75rem;
          margin-left: 1rem;
          & .orderBtn {
            font-size: 1.2rem;
          }
        }
      }
    }
    .products__wrapper {
      height: 100%;
      &--grid {
        & .grid__item {
          & .deleteBtn,
          .favBtn,
          .cartBtn {
            width: 60px;
            left:0%;
          }
          & .favBtn,
          .cartBtn {
            top: 10%;
          }
          & .cartBtn {
            top: 20%;
          }
        }
      }
    }
    .profile__wrapper {
      margin-bottom: 0;
      height: 100vh;
      &--grid {
        grid-template-columns: repeat(2, minmax(2rem, 1fr));
        grid-template-areas:
          "image image"
          "username firstName"
          "email lastName"
          "buttons buttons"
          "error error";
        & .avatar__container {
          margin-bottom: 1rem;
        }
        & .error{
          padding-left: 1rem;
        }
      }
    }
    .signUp__form {
      width: 32rem;
      height: 36rem;
      .error {
        margin-top: 2rem;
        font-size: 1.5rem;
      }
    }
    .intro {
      position: relative;
      &__title {
        position: absolute;
        width: 300px;
        top: 20%;
        left: 5%;
      }
    }
    .about {
      &--title {
        margin-bottom: 1rem;
      }
      margin-top: 5rem !important;
      max-width: 35rem;
      margin: 0 auto;
    }
  }
}
@mixin laptop {
  @media only screen and (min-width: #{var.$laptop-width}) {
    @include var.fs_laptop;

    .orders__wrapper {
      margin-bottom: 5rem;
      & .orderContainer {
        &__information {
          grid-template-columns: repeat(auto, minmax(25rem, 1fr));
          grid-template-areas:
            "orderId orderId orderId orderItems orderOrigin"
            "itemsArray itemsArray itemsArray itemsArray itemsArray"
            "totalPrice totalPrice totalPrice totalPrice totalPrice";
            gap:1rem;
        }
        & .orderedline__wrapper {
          &__information {
            grid-template-columns: repeat(auto, minmax(1rem, 1fr));
            &__image {
              width: 20rem;
            }
          }
        }
      }
    }

    .cart__wrapper {
    min-height: 79vh;
      margin-bottom: 5rem;
      &--grid {
        width: auto;
        margin-bottom: 1rem;
        gap: 2rem;
        & .grid__item {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-areas: "picture picture details details details details actions";
          &__details {
            &--img {
              width: 15rem;
            }
          }
          &__actions {
            & .quantityInput {
              width: 2rem;
            }
            & .delBtn {
              height: 2rem;
              width: 2rem;
            }
          }
        }
      }
      & .totalOrder {
        margin-bottom: 2rem;
        & .actions {
          grid-template-columns: 1fr 1fr 1fr;
          margin-left: 3rem;
          & .orderBtn {
            max-width: 27rem;
            font-size: 1.2rem;
          }
        }
      }
    }
    .products__wrapper {
      min-height: 85vh;
      &--grid {
        grid-template-columns: repeat(5, minmax(18rem, 1fr));
        text-align: center;
        display: grid;
        gap: 0.1rem;
        & .grid__item {
          position: relative;
          &--img {
            display: block;
            width: 18rem;
            aspect-ratio: 1;
          }
          & .deleteBtn,
          .favBtn,
          .cartBtn {
            position: absolute;
            top: 0%;
            left: 0%;
            display: block;
            width: 30px;
          }
          & .favBtn,
          .cartBtn {
            top: 10%;
          }
          & .cartBtn {
            top: 20%;
          }
        }
        & .addBtn {
          grid-column: 3 / 4;
          margin-bottom: 1rem;
        }
      }
    }
    .profile__wrapper {
      &--grid {
        grid-template-columns: repeat(4, minmax(2rem, 1fr));
        grid-template-areas:
          "image image image image"
          "username email firstName lastName"
          "buttons buttons buttons buttons"
          ".. error error ..";
        & .avatar__container {
          margin-bottom: 1rem;
          &__wrapper {
            & img {
              height: 26rem;
              width: 26rem;
            }
          }
        }
      }
    }
    .home__wrapper {
      height: auto;
    }
    .authentication {
      &__rotated {
        min-width: 50vw;
        min-height: 60vh;
      }
    }
    .signUp__form {
      width: 34rem;
      height: 36rem;
      .error {
        margin-top: 2rem;
        font-size: 1.5rem;
      }
    }
    .player__wrapper {
      margin-top: -7rem;
    }
    .intro {
      position: relative;
      &__title {
        position: absolute;
        width: 26rem;
        top: 20%;
        left: 5%;
      }
    }
    .about {
      &--title {
        margin-bottom: 1rem;
      }
      margin-top: 5rem !important;
      max-width: 60rem;
      margin: 0 auto;
      &__info {
        min-height: 600px;
        grid-template-columns: 1fr 1fr 1fr;
        &--item {
          .item__container {
            min-height: 400px;
            &:hover {
              min-height: 450px;
            }
          }
        }
      }
    }
    .team {
      margin-top: 0;
      .team__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      margin-bottom: 5rem;
    }
  }
}
