@use "../sass-utils/variables" as var;

@mixin mobile {
  @media only screen and (min-width: #{var.$mobile-width}) and (max-width: #{(var.$tablet-width)-1px}) {
    
  }
}

@mixin tablet {
  @media only screen and (min-width: #{var.$tablet-width}) and (max-width: #{(var.$laptop-width)-1px}) {
    .signUp__form {
      width:32rem;
      height: 36rem;
      .error{
        margin-top: 2rem;
        font-size: 1.5rem;
      }
    }
  }
}
@mixin laptop {
  @media only screen and (min-width: #{var.$laptop-width}) {
    .authentication{   
      &__rotated {
        min-width: 50vw;
        min-height: 60vh;
      }
    }
    .signUp__form {
      width:34rem;
      height: 36rem;
      .error{
        margin-top: 2rem;
        font-size: 1.5rem;
      }
    }
  }
}
