// Colours //
$clr-light: #ffffff;
$clr-dark: #303030;
$clr-accent: #16e0bd;
$clr-auth: #3d8170;
$clr-border: #303030;
$clr-error: #AF0606;

@mixin theme-colors($light-theme: true) {
  @if $light-theme {
    background: $clr-light;
    color: $clr-dark;
    border-color: $clr-dark;
  } @else {
    background: $clr-dark;
    color: $clr-light;
    border-color: $clr-light;
  }
}

// Font family//
$ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$ff-secondary: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;

// Font size //
$fs-h1: 1.4rem;
$fs-h2: 1.75rem;
$fs-h3: 1.15rem;
$fs-body: 0.9rem;

$fs-tablet: (
  "h1": 2.8rem,
  "h2": 1.75rem,
  "h3": 1.5rem,
  "body": 1.125rem,
);
$fs-laptop: (
  "h1": 4rem,
  "h2": 2.5rem,
  "h3": 2rem,
  "body": 1.65rem,
);

// Font weight //
$fw-reg: 400;
$fw-bold: 700;

// Shadows //
$bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

// Media //
$mobile-width: 380px;
$tablet-width: 800px;
$laptop-width: 1200px;

@mixin fs_tablet {
  h1 {
    font-size: map-get($map: $fs-tablet, $key: "h1");
  }
  h2 {
    font-size: map-get($map: $fs-tablet, $key: "h2");
  }
  h3 {
    font-size: map-get($map: $fs-tablet, $key: "h3");
  }
  body {
    font-size: map-get($map: $fs-tablet, $key: "body");
  }
}

@mixin fs_laptop {
  h1 {
    font-size: map-get($map: $fs-laptop, $key: "h1");
  }
  h2 {
    font-size: map-get($map: $fs-laptop, $key: "h2");
  }
  h3 {
    font-size: map-get($map: $fs-laptop, $key: "h3");
  }
  body {
    font-size: map-get($map: $fs-laptop, $key: "body");
  }
}
