@use "../sass-utils/variables" as var;

.cart__wrapper {
  margin-top: 2rem;
  margin-bottom: 6rem;
  &--grid {
    width: 100vw;
    list-style-type: none;
    display: grid;
    gap: 1rem;
    & .grid__item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "picture details details actions";
      &__details {
        grid-area: details;
        padding: 0.1rem;
        text-align: center;
        &--img {
          grid-area: picture;
          display: block;
          width: 10rem;
          border: 2px solid;
            border-radius: 50%;aspect-ratio: 1;
        }
      }
      &__actions {
        grid-area: actions;
        margin-left: 1rem;
        & .quantityInput {
          color: var.$clr-auth;
          border: 1px solid;
          outline: none;
          background: transparent;
          width: 2rem;
          margin-bottom: 1rem;
        }
        & .delBtn {
          display: block;
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
  & .totalOrder {
    & .actions {
      display: grid;
      grid-template-columns: 110px 110px 110px;
      gap: 0.75rem;
      margin-left: 1rem;
      & .orderBtn {
        min-width: 100px;
      }
    }
  }
}
