@use "../sass-utils/variables" as var;

.orders__wrapper {
  margin-bottom: 4.9rem;
  text-align: center;
  display: grid;
  gap: 1rem;
  & .orderContainer {
    margin: 0 auto;
    width: 90%;
    padding: 3rem;
    border: 2px solid;
    border-radius: 2rem;
    background-color: var.$clr-auth;
    &__information {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(auto, minmax(50px, 1fr));
      grid-template-areas:
        "orderId orderId orderId"
        "orderOrigin orderOrigin orderOrigin"
        "orderItems orderItems orderItems"
        "itemsArray itemsArray itemsArray"
        "totalPrice totalPrice totalPrice";
      &__id {
        grid-area: orderId;
      }
      &__orderedlines {
        grid-area: orderItems;
      }
      & .orderedline__wrapper {
        grid-area: itemsArray;
        &.orderedline__transition-enter {
          opacity: 0;
          transform: translate(0rem);
          transition: all 300ms;
        }
        &.orderedline__transition-enter-active {
          opacity: 1;
          transition: all 300ms;
        }
        &.orderedline__transition-exit {
          opacity: 1;
          transition: all 300ms;
        }
        &.orderedline__transition-exit-active {
          opacity: 0;
          transform: translateY(-4rem);
          transition: all 300ms;
        }
        &__information {
          display: grid;
          grid-template-columns: repeat(3, minmax(3rem, 1fr));
          grid-template-areas:
            "productImage"
            "productPrice";
          &__image {
            grid-area: productImage;
            width: 4rem;
            aspect-ratio: 1;
          }
          &__price {
            grid-area: productPrice;
          }
        }
      }
      &__total {
        grid-area: totalPrice;
      }
      &__orderOrigin {
        grid-area: orderOrigin;
      }
    }
  }
}
