@use "../sass-utils/variables" as var;

/* Buttons */
.btn {
  min-width: 9rem;
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var.$clr-accent;
  color: var.$clr-dark;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var.$fw-bold;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}