@use "../sass-utils/variables" as var;

/* General styles */

body {
  margin: 0;
  font-family: var.$ff-primary;
  font-size: var.$fs-body;
  line-height: 1.6;
}

.wapper.false {
  @include var.theme-colors($light-theme:true);
}
.wapper.true {
  @include var.theme-colors($light-theme:false);
}
