@use "../sass-utils/variables" as var;
@use "../sass-utils/media";
// Typography //
body {
  font-family: var.$ff-primary;
  font-size: var.$fs-body;
  font-weight: var.$fw-reg;
}
code{
  font-family: var.$ff-secondary;
}
h1 {
  font-size: var.$fs-h1;
}
h2 {
  font-size: var.$fs-h2;
}
h3 {
  font-size: var.$fs-h3;
}
p {
  font-family: var.$ff-secondary;
}
strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

@include media.tablet;
@include media.laptop;