*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.15rem;
}

p {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

strong {
  font-weight: 700;
}

:focus {
  outline: 3px solid #16e0bd;
  outline-offset: 3px;
}

/* General styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
}

.wapper.false {
  background: #ffffff;
  color: #303030;
  border-color: #303030;
}

.wapper.true {
  background: #303030;
  color: #ffffff;
  border-color: #ffffff;
}

/* Header */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  z-index: 1;
}

.logo--png {
  max-width: 100px;
}

.themeIcon {
  position: fixed;
  background-color: transparent;
  right: 1em;
  top: 3em;
  outline: none;
  border: 0;
  cursor: pointer;
}

.themeImage {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.nav {
  position: fixed;
  background: #303030;
  color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: 700;
  font-size: 1.75rem;
  text-decoration: none;
}

.nav__link:hover {
  color: #16e0bd;
}

.nav-toggle {
  outline: none;
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: #16e0bd;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.intro {
  position: relative;
}
.intro__title {
  position: absolute;
  width: 163px;
  top: 30%;
  left: 5%;
}

.player__wrapper {
  margin-top: -4rem;
}
.player__wrapper--video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about {
  margin-top: 1rem;
  width: 100%;
}
.about--title {
  text-align: center;
}
.about__info {
  display: grid;
  gap: 1rem;
}
.about__info--item .item__container {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  margin: 0.52rem;
  padding: 0.2rem;
  min-height: 92px;
  border: 2px solid;
  text-align: center;
  transition: 1s ease all;
}
.about__info--item .item__container:hover {
  background-color: #3d8170;
  border-radius: 6%;
}

.team {
  margin-top: 2rem;
}
.team--title {
  margin-bottom: 2rem;
  text-align: center;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #303030;
  color: #16e0bd;
  text-align: center;
  padding: 0.5em 0;
  font-size: 1.15rem;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.social-list__link:hover {
  opacity: 0.7;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

.form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.contact-box h2 {
  font-size: 1.15rem;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.contact-box .form-box {
  position: relative;
}

.contact-box .form-box input,
.contact-box .form-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.contact-box .form-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.contact-box .form-box input:focus ~ label,
.contact-box .form-box input:valid ~ label,
.contact-box .form-box textarea:focus ~ label,
.contact-box .form-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.submitFormBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.contact-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4;
}

.contact-box button span {
  position: absolute;
  display: block;
}

.contact-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.contact-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.contact-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.contact-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
/* Buttons */
.btn {
  min-width: 9rem;
  display: inline-block;
  padding: 0.5em 2.5em;
  background: #16e0bd;
  color: #303030;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.profile__wrapper {
  margin-bottom: 5rem;
}
.profile__wrapper--grid {
  display: grid;
  grid-template-rows: repeat(6, minmax(25px));
  grid-template-areas: "image" "image" "username" "firstName" "lastName" "email" "buttons";
}
.profile__wrapper--grid .avatar__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  grid-area: image;
}
.profile__wrapper--grid .avatar__container__wrapper {
  margin-top: 2rem;
}
.profile__wrapper--grid .avatar__container__wrapper img {
  display: block;
  height: 22rem;
  width: 22rem;
  border: 4px solid;
  border-radius: 50%;
}
.profile__wrapper--grid .email__container {
  grid-area: email;
}
.profile__wrapper--grid .username__container {
  grid-area: username;
}
.profile__wrapper--grid .firstName__container {
  grid-area: firstName;
}
.profile__wrapper--grid .lastName__container {
  grid-area: lastName;
}
.profile__wrapper--grid .buttons__container {
  margin: 1rem;
  text-align: center;
  grid-area: buttons;
}
.profile__wrapper--grid .error {
  text-align: center;
  color: #AF0606;
}
.profile__wrapper--grid .edit__group {
  font-family: "Roboto", sans-serif;
  margin-top: 0.7rem;
  display: block;
  transform: translateY(0rem);
}
.profile__wrapper--grid .edit__group .edit__input {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 0.1rem 0.75rem;
  border-radius: 0.2rem;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  margin-bottom: 0.5rem;
}
.profile__wrapper--grid .edit__group .edit__input:placeholder-shown + .edit__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.profile__wrapper--grid .edit__group .edit__label {
  transition: all 0.3s;
  padding-left: 1.25rem;
}

.authentication {
  height: 100vh;
}
.authentication__rotated {
  background-color: #3d8170;
  transform: translate(-35%, -60%) rotateZ(122deg);
  z-index: -1;
}
.authentication__form {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 10%;
  right: 0;
  width: 80%;
  height: 65vh;
}
.authentication__form--signIn {
  transform: translate(-1000%, 0%);
}

.signUp__form {
  width: 20rem;
  height: 27rem;
  margin: 0 auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-bottom: 2.5rem;
}
.signUp__form .combine {
  display: flex;
  margin-bottom: 1.1rem;
}
.signUp__form .Errors {
  color: red;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 1rem;
}
.signUp__form .error {
  text-align: center;
  color: red;
  font-style: italic;
  font-size: 12px;
  margin-top: 1rem;
}
.signUp__form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 14px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.signUp__form h2 {
  font-size: 1.15rem;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.signUp__form .form-field {
  position: relative;
}

.signUp__form .form-field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.signUp__form .form-field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.signUp__form .form-field input:focus ~ label,
.signUp__form .form-field input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.signUp__form__button, .signIn__form__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp__form button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4;
}

.signUp__form button span {
  position: absolute;
  display: block;
}

.signUp__form button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.signUp__form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.signUp__form button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.signUp__form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.svgAnimations::before {
  content: "No such page found";
  font-size: 1.4rem;
}

.svgAnimations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Ether {
  transform-origin: center;
  animation: etherium 6s linear infinite;
}

#Vector_37 {
  animation: etherium_right-lower-part 6s ease-in-out infinite;
}

#Vector_36 {
  animation: etherium_left-lower-part 6s ease-in-out infinite;
}

#Vector_32,
#Vector_34 {
  animation: etherium_left-upper-part 6s ease-in-out infinite;
}

#Vector_33,
#Vector_35 {
  animation: etherium_right-upper-part 6s ease-in-out infinite;
}

#Boy-head,
#Girl-head,
#Girl-hand {
  animation: boy_girl 5s linear infinite;
}

@keyframes etherium_left-upper-part {
  75% {
    transform: translateY(-3px);
  }
}
@keyframes etherium_right-upper-part {
  75% {
    transform: translateY(-3px);
  }
}
@keyframes etherium_right-lower-part {
  25% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateX(0px);
  }
  75% {
    transform: translateY(-5px);
  }
}
@keyframes etherium_left-lower-part {
  25% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateX(0px);
  }
  75% {
    transform: translateY(-5px);
  }
}
@keyframes etherium {
  25% {
    transform: scale(0.7, 0.7);
  }
  75% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(0.8, 0.8);
  }
}
@keyframes boy_girl {
  75% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-2px);
  }
}
@media only screen and (min-width: 800px) and (max-width: 1199px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  body {
    font-size: 1.125rem;
  }

  .profile__wrapper {
    margin-bottom: 0;
    height: 100vh;
  }
  .profile__wrapper--grid {
    grid-template-columns: repeat(2, minmax(2rem, 1fr));
    grid-template-areas: "image image" "username firstName" "email lastName" "buttons buttons";
  }
  .profile__wrapper--grid .avatar__container {
    margin-bottom: 1rem;
  }

  .signUp__form {
    width: 32rem;
    height: 36rem;
  }
  .signUp__form .error {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .intro {
    position: relative;
  }
  .intro__title {
    position: absolute;
    width: 300px;
    top: 20%;
    left: 5%;
  }

  .about {
    margin-top: 5rem !important;
    max-width: 35rem;
    margin: 0 auto;
  }
  .about--title {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  body {
    font-size: 1.65rem;
  }

  .profile__wrapper--grid {
    grid-template-columns: repeat(4, minmax(2rem, 1fr));
    grid-template-areas: "image image image image" "username email firstName lastName" "buttons buttons buttons buttons";
  }
  .profile__wrapper--grid .avatar__container {
    margin-bottom: 1rem;
  }

  .home__wrapper {
    height: auto;
  }

  .authentication__rotated {
    min-width: 50vw;
    min-height: 60vh;
  }

  .signUp__form {
    width: 34rem;
    height: 36rem;
  }
  .signUp__form .error {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .player__wrapper {
    margin-top: -7rem;
  }

  .intro {
    position: relative;
  }
  .intro__title {
    position: absolute;
    width: 26rem;
    top: 20%;
    left: 5%;
  }

  .about {
    margin-top: 5rem !important;
    max-width: 60rem;
    margin: 0 auto;
  }
  .about--title {
    margin-bottom: 1rem;
  }
  .about__info {
    min-height: 600px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about__info--item .item__container {
    min-height: 400px;
  }
  .about__info--item .item__container:hover {
    min-height: 450px;
  }

  .team {
    margin-top: 0;
  }
  .team .team__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
