*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.15rem;
}

p {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

strong {
  font-weight: 700;
}

:focus {
  outline: 3px solid #16e0bd;
  outline-offset: 3px;
}

/* General styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
}

.wapper.false {
  background: #ffffff;
  color: #303030;
  border-color: #303030;
}

.wapper.true {
  background: #303030;
  color: #ffffff;
  border-color: #ffffff;
}

/* Header */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  z-index: 1;
  pointer-events: none;
}

.logo--png {
  max-width: 100px;
}

.themeIcon {
  pointer-events: auto;
  position: fixed;
  background-color: transparent;
  right: 1em;
  top: 3em;
  outline: none;
  border: 0;
  cursor: pointer;
}

.themeImage {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.nav {
  pointer-events: auto;
  position: fixed;
  background: #303030;
  color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: 700;
  font-size: 1.75rem;
  text-decoration: none;
}

.nav__link:hover {
  color: #16e0bd;
}

.nav-toggle {
  pointer-events: auto;
  outline: none;
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: #16e0bd;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.intro {
  position: relative;
}
.intro__title {
  position: absolute;
  width: 163px;
  top: 30%;
  left: 5%;
}

.player__wrapper {
  margin-top: -4rem;
}
.player__wrapper--video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about {
  margin-top: 1rem;
  width: 100%;
}
.about--title {
  text-align: center;
}
.about__info {
  display: grid;
  gap: 1rem;
}
.about__info--item .item__container {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  margin: 0.52rem;
  padding: 0.2rem;
  min-height: 92px;
  border: 2px solid;
  text-align: center;
  transition: 1s ease all;
}
.about__info--item .item__container:hover {
  background-color: #3d8170;
  border-radius: 6%;
}

.team {
  margin-top: 2rem;
}
.team--title {
  margin-bottom: 2rem;
  text-align: center;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #303030;
  color: #16e0bd;
  text-align: center;
  padding: 0.5em 0;
  font-size: 1.15rem;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.social-list__link:hover {
  opacity: 0.7;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

.form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.contact-box h2 {
  font-size: 1.15rem;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.contact-box .form-box {
  position: relative;
}

.contact-box .form-box input,
.contact-box .form-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.contact-box .form-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.contact-box .form-box input:focus ~ label,
.contact-box .form-box input:valid ~ label,
.contact-box .form-box textarea:focus ~ label,
.contact-box .form-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.submitFormBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.contact-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4;
}

.contact-box button span {
  position: absolute;
  display: block;
}

.contact-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.contact-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.contact-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.contact-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
/* Buttons */
.btn {
  min-width: 9rem;
  display: inline-block;
  padding: 0.5em 2.5em;
  background: #16e0bd;
  color: #303030;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  transition: transform 200ms ease-in-out;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn:hover {
  transform: scale(1.1);
}

.profile__wrapper {
  margin-bottom: 5rem;
}
.profile__wrapper--grid {
  display: grid;
  grid-template-rows: repeat(6, minmax(25px));
  grid-template-areas: "image" "image" "username" "firstName" "lastName" "email" "error" "buttons";
}
.profile__wrapper--grid .avatar__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  grid-area: image;
}
.profile__wrapper--grid .avatar__container__wrapper {
  margin-top: 2rem;
}
.profile__wrapper--grid .avatar__container__wrapper img {
  display: block;
  height: 22rem;
  width: 22rem;
  border: 4px solid;
  border-radius: 50%;
}
.profile__wrapper--grid .email__container {
  grid-area: email;
}
.profile__wrapper--grid .username__container {
  grid-area: username;
}
.profile__wrapper--grid .firstName__container {
  grid-area: firstName;
}
.profile__wrapper--grid .lastName__container {
  grid-area: lastName;
}
.profile__wrapper--grid .buttons__container {
  margin: 1rem;
  text-align: center;
  grid-area: buttons;
}
.profile__wrapper--grid .error {
  grid-area: error;
  color: #AF0606;
}
.profile__wrapper--grid .edit__group {
  font-family: "Roboto", sans-serif;
  margin-top: 0.7rem;
  display: block;
  transform: translateY(0rem);
}
.profile__wrapper--grid .edit__group .edit__input {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 0.1rem 0.75rem;
  border-radius: 0.2rem;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  margin-bottom: 0.5rem;
}
.profile__wrapper--grid .edit__group .edit__input:placeholder-shown + .edit__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.profile__wrapper--grid .edit__group .edit__label {
  transition: all 0.5s;
  padding-left: 1.25rem;
}

.products__wrapper__filter {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.products__wrapper__filter__input {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  padding: 0.1rem 0.75rem;
  border-radius: 0.2rem;
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
  margin-bottom: 0.5rem;
}
.products__wrapper__filter__sort {
  display: flex;
  flex-direction: row;
}
.products__wrapper__filter__sort--alphabeticalSortBtn, .products__wrapper__filter__sort--numericalSortBtn, .products__wrapper__filter__sort--favBtn {
  display: block;
  height: 2.5rem;
  width: 3rem;
}
.products__wrapper__add-product {
  text-align: center;
  margin-bottom: 0.5rem;
}
.products__wrapper--grid {
  list-style-type: none;
  text-align: center;
  display: grid;
  gap: 1rem;
  margin-bottom: 4.9rem;
}
.products__wrapper--grid .grid__item {
  position: relative;
  width: 80vw;
  margin: 0 auto;
}
.products__wrapper--grid .grid__item--img {
  display: block;
  width: 80vw;
}
.products__wrapper--grid .grid__item .deleteBtn,
.products__wrapper--grid .grid__item .favBtn,
.products__wrapper--grid .grid__item .cartBtn,
.products__wrapper--grid .grid__item .detailsBtn, .products__wrapper--grid .grid__item .editBtn {
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 2rem;
}
.products__wrapper--grid .grid__item .favBtn,
.products__wrapper--grid .grid__item .cartBtn {
  top: 10%;
}
.products__wrapper--grid .grid__item .cartBtn {
  top: 20%;
}
.products__wrapper--grid .grid__item .detailsBtn {
  top: 30%;
}
.products__wrapper--grid .grid__item .editBtn {
  top: 40%;
}

.cart__wrapper {
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.cart__wrapper--grid {
  width: 100vw;
  list-style-type: none;
  display: grid;
  gap: 1rem;
}
.cart__wrapper--grid .grid__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "picture details details actions";
}
.cart__wrapper--grid .grid__item__details {
  grid-area: details;
  padding: 0.1rem;
  text-align: center;
}
.cart__wrapper--grid .grid__item__details--img {
  grid-area: picture;
  display: block;
  width: 10rem;
}
.cart__wrapper--grid .grid__item__actions {
  grid-area: actions;
  margin-left: 1rem;
}
.cart__wrapper--grid .grid__item__actions .quantityInput {
  width: 2rem;
  margin-bottom: 1rem;
}
.cart__wrapper--grid .grid__item__actions .delBtn {
  display: block;
  height: 2rem;
  width: 2rem;
}
.cart__wrapper .totalOrder .actions {
  display: grid;
  grid-template-columns: 110px 110px 110px;
  gap: 0.75rem;
  margin-left: 1rem;
}
.cart__wrapper .totalOrder .actions .orderBtn {
  min-width: 100px;
}

.orders__wrapper {
  margin-bottom: 4.9rem;
  text-align: center;
  display: grid;
  gap: 1rem;
}
.orders__wrapper .orderContainer {
  margin: 0 auto;
  width: 90%;
  padding: 3rem;
  border: 2px solid;
  border-radius: 2rem;
  background-color: #3d8170;
}
.orders__wrapper .orderContainer__information {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto, minmax(50px, 1fr));
  grid-template-areas: "orderId orderId orderId" "orderOrigin orderOrigin orderOrigin" "orderItems orderItems orderItems" "itemsArray itemsArray itemsArray" "totalPrice totalPrice totalPrice";
}
.orders__wrapper .orderContainer__information__id {
  grid-area: orderId;
}
.orders__wrapper .orderContainer__information__orderedlines {
  grid-area: orderItems;
}
.orders__wrapper .orderContainer__information .orderedline__wrapper {
  grid-area: itemsArray;
}
.orders__wrapper .orderContainer__information .orderedline__wrapper.orderedline__transition-enter {
  opacity: 0;
  transform: translate(0rem);
  transition: all 300ms;
}
.orders__wrapper .orderContainer__information .orderedline__wrapper.orderedline__transition-enter-active {
  opacity: 1;
  transition: all 300ms;
}
.orders__wrapper .orderContainer__information .orderedline__wrapper.orderedline__transition-exit {
  opacity: 1;
  transition: all 300ms;
}
.orders__wrapper .orderContainer__information .orderedline__wrapper.orderedline__transition-exit-active {
  opacity: 0;
  transform: translateY(-4rem);
  transition: all 300ms;
}
.orders__wrapper .orderContainer__information .orderedline__wrapper__information {
  display: grid;
  grid-template-columns: repeat(3, minmax(3rem, 1fr));
  grid-template-areas: "productImage" "productPrice";
}
.orders__wrapper .orderContainer__information .orderedline__wrapper__information__image {
  grid-area: productImage;
  width: 4rem;
  aspect-ratio: 1;
}
.orders__wrapper .orderContainer__information .orderedline__wrapper__information__price {
  grid-area: productPrice;
}
.orders__wrapper .orderContainer__information__total {
  grid-area: totalPrice;
}
.orders__wrapper .orderContainer__information__orderOrigin {
  grid-area: orderOrigin;
}

.details__wrapper__information {
  display: grid;
  grid-template-columns: repeat(auto, minmax(2rem, 1fr));
  grid-template-areas: "title" "category" "price" "color" "error" "actions";
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.details__wrapper__information--img {
  grid-area: image;
  display: block;
  border: 2px solid;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
}
.details__wrapper__information--title {
  grid-area: title;
}
.details__wrapper__information--price {
  grid-area: price;
}
.details__wrapper__information--category {
  grid-area: category;
}
.details__wrapper__information--color {
  grid-area: color;
}
.details__wrapper__information--error {
  grid-area: error;
  font-size: 1.4rem;
  color: #AF0606;
}
.details__wrapper__information--actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.details__wrapper__information--actions .cartBtn,
.details__wrapper__information--actions .favBtn,
.details__wrapper__information--actions .editBtn,
.details__wrapper__information--actions .delBtn {
  min-width: 22rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
.details__wrapper__information--actions .favBtn {
  color: white;
  background-color: darkred;
}
.details__wrapper__information--actions .delBtn {
  color: white;
  background-color: darkred;
}

.swiper {
  z-index: 0 !important;
}
.swiper-wrapper .swiper-slide {
  z-index: -3;
  border-radius: 50%;
}
.swiper-wrapper .swiper-slide img {
  height: 12rem !important;
  width: 12rem !important;
  opacity: 0.5;
  border: 2px solid;
  display: block;
  border-radius: 50%;
}
.swiper-wrapper .swiper-slide-active {
  z-index: -2;
}
.swiper-wrapper .swiper-slide-active img {
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  height: 18rem !important;
  width: 18rem !important;
  margin-bottom: 2rem;
}

.authentication {
  height: 100vh;
}
.authentication__rotated {
  background-color: #3d8170;
  transform: translate(-35%, -60%) rotateZ(122deg);
  z-index: -1;
}
.authentication__form {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 10%;
  right: 0;
  width: 80%;
  height: 65vh;
}
.authentication__form--signIn {
  transform: translate(-1000%, 0%);
}

.signUp__form {
  width: 20rem;
  height: 27rem;
  margin: 0 auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-bottom: 2.5rem;
}
.signUp__form .combine {
  display: flex;
  margin-bottom: 1.1rem;
}
.signUp__form .Errors {
  color: red;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 1rem;
}
.signUp__form .error {
  text-align: center;
  color: red;
  font-style: italic;
  font-size: 12px;
  margin-top: 1rem;
}
.signUp__form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 14px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.signUp__form h2 {
  font-size: 1.15rem;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.signUp__form .form-field {
  position: relative;
}

.signUp__form .form-field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.signUp__form .form-field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.signUp__form .form-field input:focus ~ label,
.signUp__form .form-field input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.signUp__form__button,
.signIn__form__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp__form button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4;
}

.signUp__form button span {
  position: absolute;
  display: block;
}

.signUp__form button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.signUp__form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.signUp__form button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.signUp__form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.svgAnimations::before {
  content: "No such page found";
  font-size: 1.4rem;
}

.svgAnimations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Ether {
  transform-origin: center;
  animation: etherium 6s linear infinite;
}

#Vector_37 {
  animation: etherium_right-lower-part 6s ease-in-out infinite;
}

#Vector_36 {
  animation: etherium_left-lower-part 6s ease-in-out infinite;
}

#Vector_32,
#Vector_34 {
  animation: etherium_left-upper-part 6s ease-in-out infinite;
}

#Vector_33,
#Vector_35 {
  animation: etherium_right-upper-part 6s ease-in-out infinite;
}

#Boy-head,
#Girl-head,
#Girl-hand {
  animation: boy_girl 5s linear infinite;
}

@keyframes etherium_left-upper-part {
  75% {
    transform: translateY(-3px);
  }
}
@keyframes etherium_right-upper-part {
  75% {
    transform: translateY(-3px);
  }
}
@keyframes etherium_right-lower-part {
  25% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateX(0px);
  }
  75% {
    transform: translateY(-5px);
  }
}
@keyframes etherium_left-lower-part {
  25% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateX(0px);
  }
  75% {
    transform: translateY(-5px);
  }
}
@keyframes etherium {
  25% {
    transform: scale(0.7, 0.7);
  }
  75% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(0.8, 0.8);
  }
}
@keyframes boy_girl {
  75% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-2px);
  }
}
/*grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-areas:
      "orderId orderItems orderOrigin"
      "itemsArray itemsArray itemsArray"
      "totalPrice totalPrice totalPrice";*/
@media only screen and (min-width: 800px) and (max-width: 1199px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  body {
    font-size: 1.125rem;
  }

  .details__wrapper {
    min-height: 89vh;
  }
  .details__wrapper .swiper-wrapper .swiper-slide img {
    height: 15rem !important;
    width: 15rem !important;
  }
  .details__wrapper .swiper-wrapper .swiper-slide-prev img {
    margin-left: auto;
  }
  .details__wrapper .swiper-wrapper .swiper-slide-next img {
    margin-right: auto;
  }
  .details__wrapper .swiper-wrapper .swiper-slide-active {
    height: 20rem !important;
    width: 20rem !important;
    margin-bottom: 3rem;
  }
  .details__wrapper .swiper-wrapper .swiper-slide-active img {
    height: 20rem !important;
    width: 20rem !important;
  }
  .details__wrapper__information--actions .cartBtn,
.details__wrapper__information--actions .favBtn,
.details__wrapper__information--actions .editBtn,
.details__wrapper__information--actions .delBtn,
.details__wrapper__information--actions .backBtn {
    font-size: 1.15rem;
    min-width: 35rem;
  }

  .orders__wrapper .orderContainer__information {
    grid-template-columns: repeat(auto, minmax(15rem, 1fr));
    grid-template-areas: "orderId orderId orderId orderOrigin" ".. orderItems .. .." "itemsArray itemsArray itemsArray itemsArray" "totalPrice totalPrice totalPrice totalPrice";
    gap: 1rem;
  }
  .orders__wrapper .orderContainer .orderedline__wrapper__information {
    grid-template-columns: repeat(auto, minmax(1rem, 2rem));
  }
  .orders__wrapper .orderContainer .orderedline__wrapper__information__image {
    grid-area: productImage;
    width: 10rem;
    aspect-ratio: 1;
  }

  .cart__wrapper--grid {
    gap: 2rem;
  }
  .cart__wrapper--grid .grid__item {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "picture picture details details actions";
  }
  .cart__wrapper--grid .grid__item__details--img {
    width: 20rem;
  }
  .cart__wrapper--grid .grid__item__actions .quantityInput {
    width: 3rem;
  }
  .cart__wrapper--grid .grid__item__actions .delBtn {
    height: 3rem;
    width: 3rem;
  }
  .cart__wrapper .totalOrder .actions {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
    margin-left: 1rem;
  }
  .cart__wrapper .totalOrder .actions .orderBtn {
    font-size: 1.2rem;
  }

  .products__wrapper {
    height: 100%;
  }
  .products__wrapper--grid .grid__item {
    width: 50vw;
  }
  .products__wrapper--grid .grid__item--img {
    width: 50vw;
  }

  .profile__wrapper {
    margin-bottom: 0;
    height: 100vh;
  }
  .profile__wrapper--grid {
    grid-template-columns: repeat(2, minmax(2rem, 1fr));
    grid-template-areas: "image image" "username firstName" "email lastName" "buttons buttons" "error error";
  }
  .profile__wrapper--grid .avatar__container {
    margin-bottom: 1rem;
  }
  .profile__wrapper--grid .error {
    padding-left: 1rem;
  }

  .signUp__form {
    width: 32rem;
    height: 36rem;
  }
  .signUp__form .error {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .intro {
    position: relative;
  }
  .intro__title {
    position: absolute;
    width: 300px;
    top: 20%;
    left: 5%;
  }

  .about {
    margin-top: 5rem !important;
    max-width: 35rem;
    margin: 0 auto;
  }
  .about--title {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  body {
    font-size: 1.65rem;
  }

  .details__wrapper {
    margin-bottom: 6rem;
  }
  .details__wrapper .swiper-wrapper .swiper-slide img {
    margin: 0 auto;
    height: 15rem !important;
    width: 15rem !important;
  }
  .details__wrapper .swiper-wrapper .swiper-slide-prev img {
    margin: 0 auto;
  }
  .details__wrapper .swiper-wrapper .swiper-slide-next img {
    margin: 0 auto;
  }
  .details__wrapper .swiper-wrapper .swiper-slide-active {
    height: 20rem !important;
    width: 20rem !important;
    margin-bottom: 3rem;
  }
  .details__wrapper .swiper-wrapper .swiper-slide-active img {
    height: 20rem !important;
    width: 20rem !important;
  }
  .details__wrapper__information--img {
    margin: 0 auto;
    height: 15rem;
    width: 15rem;
  }
  .details__wrapper__information--actions .cartBtn,
.details__wrapper__information--actions .favBtn,
.details__wrapper__information--actions .editBtn,
.details__wrapper__information--actions .delBtn,
.details__wrapper__information--actions .backBtn {
    font-size: 1.15rem;
    min-width: 35rem;
  }

  .orders__wrapper {
    margin-bottom: 5rem;
  }
  .orders__wrapper .orderContainer__information {
    grid-template-columns: repeat(auto, minmax(25rem, 1fr));
    grid-template-areas: "orderId orderId orderId orderItems orderOrigin" "itemsArray itemsArray itemsArray itemsArray itemsArray" "totalPrice totalPrice totalPrice totalPrice totalPrice";
    gap: 1rem;
  }
  .orders__wrapper .orderContainer .orderedline__wrapper__information {
    grid-template-columns: repeat(auto, minmax(1rem, 1fr));
  }
  .orders__wrapper .orderContainer .orderedline__wrapper__information__image {
    width: 20rem;
  }

  .cart__wrapper {
    min-height: 79vh;
    margin-bottom: 5rem;
  }
  .cart__wrapper--grid {
    width: auto;
    margin-bottom: 1rem;
    gap: 2rem;
  }
  .cart__wrapper--grid .grid__item {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "picture picture details details details details actions";
  }
  .cart__wrapper--grid .grid__item__details--img {
    width: 15rem;
  }
  .cart__wrapper--grid .grid__item__actions .quantityInput {
    width: 2rem;
  }
  .cart__wrapper--grid .grid__item__actions .delBtn {
    height: 2rem;
    width: 2rem;
  }
  .cart__wrapper .totalOrder {
    margin-bottom: 2rem;
  }
  .cart__wrapper .totalOrder .actions {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 3rem;
  }
  .cart__wrapper .totalOrder .actions .orderBtn {
    max-width: 27rem;
    font-size: 1.2rem;
  }

  .products__wrapper {
    min-height: 85vh;
    margin-top: -3rem;
  }
  .products__wrapper--grid {
    grid-template-columns: repeat(5, minmax(18rem, 1fr));
    text-align: center;
    display: grid;
    gap: 0.1rem;
    font-size: 1.15rem;
  }
  .products__wrapper--grid .grid__item {
    width: 15rem;
    position: relative;
  }
  .products__wrapper--grid .grid__item--img {
    display: block;
    width: 15rem;
    aspect-ratio: 1;
  }

  .profile__wrapper--grid {
    grid-template-columns: repeat(4, minmax(2rem, 1fr));
    grid-template-areas: "image image image image" "username email firstName lastName" "buttons buttons buttons buttons" ".. error error ..";
  }
  .profile__wrapper--grid .avatar__container {
    margin-bottom: 1rem;
  }
  .profile__wrapper--grid .avatar__container__wrapper img {
    height: 26rem;
    width: 26rem;
  }

  .home__wrapper {
    height: auto;
  }

  .authentication__rotated {
    min-width: 50vw;
    min-height: 60vh;
  }

  .signUp__form {
    width: 34rem;
    height: 36rem;
  }
  .signUp__form .error {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .player__wrapper {
    margin-top: -7rem;
  }

  .intro {
    position: relative;
  }
  .intro__title {
    position: absolute;
    width: 26rem;
    top: 20%;
    left: 5%;
  }

  .about {
    margin-top: 5rem !important;
    max-width: 60rem;
    margin: 0 auto;
  }
  .about--title {
    margin-bottom: 1rem;
  }
  .about__info {
    min-height: 600px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about__info--item .item__container {
    min-height: 400px;
  }
  .about__info--item .item__container:hover {
    min-height: 450px;
  }

  .team {
    margin-top: 0;
    margin-bottom: 5rem;
  }
  .team .team__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
